<div class="modal-header">
  <h4 class="modal-title pull-left">Chat Dialog</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body" style="overflow-y: scroll; max-height: 300px;">
  <div class="card">
    <ng-container *ngIf="(messageService.messageThread$ | async).length > 0">
      <ul class="list-group list-group-flush" *ngFor="let message of (messageService.messageThread$ | async)">
        <ng-container *ngIf="message.receiverUsername !== currentUserName">
          <li class="list-group-item">
            <div class="message" style="text-align: right;">
              <span><strong>You: </strong>{{message.content}}</span><br>
              <strong style="font-size: 10px;">{{message.dateMessageSend | date :'short'}}</strong>
              <p *ngIf="message.dateMessageRead" style="font-size: 10px;">Read at: {{message.dateMessageRead | date :'short'}}</p>
            </div>
          </li>
        </ng-container>
        <ng-container *ngIf="message.receiverUsername === currentUserName">
          <li class="list-group-item">
            <div class="message">
              <span><strong>{{message.receiverUsername}}:</strong> {{message.content}}</span><br>
              <strong style="font-size: 10px;">{{message.dateMessageSend | date :'short'}}</strong>
            </div>
          </li>
        </ng-container>
      </ul>
    </ng-container>
    <ng-container *ngIf="(messageService.messageThread$ | async).length === 0">
      <div class="py-5 d-flex justify-content-center">
        <h4>You have no messages with {{friend.userName}}. Say hi! :)</h4>
      </div>
    </ng-container>
    <div class="card-body">
      <form #sendMessageForm="ngForm" id="sendMessageForm" (ngSubmit)="sendMessageSignalR()">
        <div class="input-group align-items-center mb-0">
          <input (keyup)="userIsTyping()" [(ngModel)]="content" type="text" class="form-control" placeholder="Send message" name="sent-message"
            id="sent-message">
          <div class="input-group-append">
            <button [disabled]="!content" form="sendMessageForm" type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
        <p *ngIf="(presence.otherUserIsTyping$ | async)">{{friend.userName}} is typing...</p>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">close</button>
</div>