<h2>Forgot password</h2>

<app-stepper [linearModeSelected]="true" #appStepper>
    <cdk-step [label]="'Email'">
        <app-forgot-password-send-email (userEmail)="mailSendEvent($event)"></app-forgot-password-send-email>
    </cdk-step>
    <cdk-step [label]="'Confirmation code'">
        <app-forgot-password-confirm-code [userEmail]="userEmail"></app-forgot-password-confirm-code>
    </cdk-step>
    <cdk-step [label]="'New Password'">
        <app-forgot-password-new [userEmail]="userEmail"></app-forgot-password-new>
    </cdk-step>
</app-stepper>